@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #0f0f0f;
  --primary: #b32f12;
  --secondary: #bfbfbf;
  --tertiary: #333333;
  --font-roboto: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #e6e6e6;
    --primary: #ae4a2f;
    --secondary: #bfbfbf;
    --tertiary: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
