@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #0f0f0f;
  --primary: #b32f12;
  --secondary: #404040;
  --tertiary: #333333;
  --blob-1: #af7cce;
  --blob-2: #ff8064;
  --blob-3: #ffca85;
  --font-roboto: var(--font-roboto);
}

.dark {
  --background: #0f0f0f;
  --foreground: #e6e6e6;
  --primary: #ae4a2f;
  --secondary: #bfbfbf;
  --tertiary: #333333;
  --blob-1: #833ab4;
  --blob-2: #fd1d1d;
  --blob-3: #fcb045;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-blob-1: var(--blob-1);
  --color-blob-2: var(--blob-2);
  --color-blob-3: var(--blob-3);
}

body {
  background: var(--background);
  color: var(--foreground);
}
