@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #0f0f0f;
  --primary: #b32f12;
  --secondary: #bfbfbf;
  --tertiary: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #e6e6e6;
    --primary: #9b2b12;
    --secondary: #bfbfbf;
    --tertiary: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
